%h2 post a tweet
= form_for @new_status, status_path(@conn, :create), fn f ->
  .form-group
    = text_input f, :body, class: "form-control", placeholder: "idk post a thing"
  .form-group
    = submit "post", class: "btn btn-primary"

- end
%h2 or read some tweets
%ul
  - for status <- @statuses do
    %li
      .content= status.body
      .posted_at= status.inserted_at
